* {
    padding: 0px;
    margin: 0px;
}

:root {
    --main-background-color: #fff;
    --main-font-color: #000;
    --dark-background-color: #3B4954;
    --dark-background-font-color: #F9FBFD;
    --accent-color-primary: #E6E6FA;
    --accent-color-secondary: #E0FFFF;
    --accent-font-color: #000;
}

.settings-card-title {
    font-size: 18px;
    margin-bottom: 6px;
    border-bottom: 1px black solid;
}

#settings-modal {
    display: none;
    /* display: flex; */
    flex-wrap: wrap;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50px;
    min-width: 400px;
    max-width: 988px;
    overflow: auto; 
    background-color: gray; 
}

.settings-header {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
}

.settings-body {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    justify-content: center;
}

.close-settings {
    line-height: 50px;
    color: white;
    position: absolute;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.settings-save-button {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: white;
    height: 34px;
    width: 125px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.header-text {
    position: absolute;
    left: 15px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}

.settings-card {
    border: 1px #808080 solid;
    background-color: var(--accent-color-primary);
    color: var(--accent-font-color);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.settings-footer {
    bottom: 0;
    background-color: blue;
    height: 50px;
    width: 100%;
    color: white;
}

.intolerances,
.restrictions {
    padding: 5px;
}

.restriction,
.intolerance {
    padding: 3px;
    padding-left: 0px;
}

.search {
    position: fixed;
    width: 100%;
    display: flex;
    top: 50px;
    height: 100px;
    background-color: lightgray;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: none;
    z-index: 0;
}

#sec-search-keyword,
#sec-search-add-ingredient,
#sec-search-exclude-ingredient {
    height: 25px;
    text-decoration: none;
    /* line-height: 30px; */
}
.add-ingredient-button,
.exclude-ingredient-button {
    height: 29px;
    width: 29px;
    text-decoration: none;
    cursor: pointer;
}

#exit-ingredient-search {
    background-color: red;
    color: white;
    height: 25px;
    width: 25px;
}

.submit-ingredient-search {
    height: 30px;
    padding: 5px;
    background-color: green;
    text-emphasis: bold;
}

.sec-search-ingredients {
    width: 100%;
    position: fixed;
    top: 50px;
    display: none;
    flex-wrap: wrap;
    /* height: 50px; */
    height: auto;
    background-color: lightgray;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.sec-search {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
}

#exit-ingredient-search {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.submit-ingredient-search {
    cursor: pointer;
    color: white;
}

.search-parameters {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 10px;
}

.refine,
.refine-main-search {
    margin-left: 5px;
    padding: 5px;
    cursor: pointer;
}

.search-filter-dropdown {
    display: inline-block;
}

.sf-dropdown-button {
    padding: 5px;
}

.sf-dropdown-content {
    display: none;
    position: absolute;
    z-index: 3;
}

.sf-filter {
    list-style-type: none;
    display: block;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px black solid;
    padding: 3px;
}

.sf-filter:hover {
    background-color: lightgray;

}

.remove-ai,
.remove-ei {
    color: red;
    cursor: pointer;
    padding: 3px;
}

.aIngredients {
    /* color: green; */
}

.search-filter-dropdown:hover .sf-dropdown-content {
    display: block;
}

.search-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-recipes {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 225px;
    
}

.search-recipe-button {
    margin-left: -10%;
    cursor: pointer;
    height: 30px;
    background-color: white;
    border: none;
}

#search-recipe {
    width: 225px;
    height: 30px;
    padding-left: 5px;;
}

.search-ingredient {
    cursor: pointer;
    height: 34px;
    /* margin-left: 10px; */
    padding: 0 5px 0 5px;
}

.bc-dropdown {
    /* display: flex; */
    /* display: flex;
    background-color: white;
    flex-direction: row;
    align-items: center;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    margin-right: 10px;
    padding: 0 5px 0 5px;     */
    position: relative;
    display: inline-block;
    /* width: 400px; */
}

.bc-dropBtn {
    padding: 0 5px 0 5px;
    height: 34px;
}
.bc-dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    width: 400px;
    /* line-height: inherit;
    text-align: center; */
}

.diet:hover,
.meal-types:hover,
.cuisine:hover,
.other:hover {
    background-color: white;
    color: var(--accent-font-color);
    cursor: pointer;
}


.bc-dropdown:hover .bc-dropdown-content {
    display: block;
}

.browse-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    width: 400px;
}


.categories-card {
    border: 1px #808080 solid;
    background-color: var(--accent-color-primary);
    color: var(--accent-font-color);
    border-radius: 5px;
    /* margin: 10px; */
    width: 170px;
    padding: 10px;
}



.category {
    list-style-type: none;
    padding-top: 5px;
}

.diet,
.meal-types,
.cuisine,
.other {
    padding-bottom: 3px;
    cursor: pointer;
}

.cat-card-title {
    border-bottom: black solid 1px;
    margin-bottom: 1px;
}
/* Styles for recipe cards */
.card {
    border: 1px #808080 solid;
    background-color: var(--accent-color-primary);
    color: var(--accent-font-color);
    border-radius: 30px;
    width: 600px;
    min-height: 250px;
    margin: 10px 10px;
    cursor: pointer;
}

.card_image {
    width: 250px;
    padding: 20px;
}

.card_head {
    background-color: var(--accent-color-secondary);
    top: 0;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.card_title {
    padding: 10px 10px 10px 30px;
    margin: 0;
}


.score, .ready_time , .recipe_summary{
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.card-favorite {
    float:right;
    cursor: pointer;
}

.recipe_summary{
    padding-bottom: 20px;
}

/***** Styles for recipes *****/

.section-head {
    background-color: var(--accent-color-secondary);
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    padding: 0 20px;
}

.recipe_image {
    margin: auto;
    width: 100%;
}

.button-div {
    padding-right: 30px;
    font-size: 18px;
}

/* Ingredient List */
.recipe-ingredients {
    margin-top: 30px;
    width: 100%;
}

.btn-shop {
    width: 140px;
    font-size: 14px;
}

.btn-unit {
    width: 70px;
    font-size: 14px;
}

.ingredient_list {
    text-align: left;
    width: 100%;
    padding: 0 30px;
}

.aisle {
    background-color: var(--accent-color-primary);
}

.aisle-title {
    padding: 0 30px;
}

.ingredient_item {
    padding: 0 30px;
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.ingredient-label {
    padding: 0 10px;
}

.ingredient-figure {
    cursor: pointer;
}

.metric {
    display: none;
}

.recipe-instructions {
    margin-top: 30px;
    width: 100%;
}

.step-title {
    padding: 0 30px;
    background-color: var(--accent-color-primary);
}

.step-instruction {
    padding: 0 30px;
}

.step-figures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
    padding: 0 30px;
}

.step-figures figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step-figures figcaption {
    background-color: var(--dark-background-color);
    color: var(--dark-background-font-color);
    width: 100%;
    text-align: center;
}

/* Instruction buttons */
.btn-instructions {
    width: 85px;
    font-size: inherit;
}

.instruction_text {
    font-size: 18px;
    padding: 0 30px;
    display: none;
}

.selected {
    background-color: #808080;
    color: #FFF;
}

/* Style for the shopping list */


.btn-remove {
    font-size: inherit;
    padding: 0 20px;
}



/* Styles for the main page */
body {
    background-color: var(--main-background-color);
    color: var(--main-font-color);
    min-width: 320px;
}

#recipe_container {
    margin-top: 110px;
    margin-bottom: 30px;
    display: flex;
    /* display: none; */
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/* Styles for the navbar */
.navbar {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: var(--dark-background-color);
    color: var(--dark-background-font-color);
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Left side of nav bar */
.navbar-brand {
    padding-left: 30px;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

.back-btn {
    display: none;
}

/* Right side of nav bar */
.nav-right-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
}

/* Search box */
.nav-search {
    margin: 0 5px;
    border: 1px solid white;
    display: none;
}

.recipe-search {
    font-size: 20px;
}

.search-icon {
    padding: 0 10px 0 5px;
    cursor: pointer;
}

/* Favorite icon */
.nav-favorite {
    font-size: 30px;
    padding: 0 5px;
    cursor: pointer;
}

/* Dropdown menu */
 .dropdown {
    float: left;
    overflow: hidden;
    font-size: 30px;
    padding: 0 5px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--main-background-color);
    color: var(--main-font-color);
    z-index: 1000;
    right: 0;
}
.dropdown-content li {
    z-index: 1001;
    float: none;
    padding: 12px 16px;
    display: block;
    text-align: left;
    white-space: nowrap;
}

ol {
    z-index: 1001;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: inherit;
    z-index: 1001;
}

.dropdown-content a:hover {
    background-color: var(--accent-color-primary);
    color: var(--accent-font-color);
}


/* Modal notification */
.modal-container {
    position: fixed;
    top: 100px;
    width: 100%;
    height: 60px;
    z-index: 1;
    display: none;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.modal {
    width: 250px;
    border: 1px black solid;
    border-radius: 20px;
    color: var(--main-font-color);
    background-color: var(--main-background-color);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}


/* Nutrition modal */
.nutrition-modal-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: none;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.nutrition-modal {
    border: 1px black solid;
    border-radius: 20px;
    color: var(--main-font-color);
    background-color: var(--main-background-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.nutrition-title {
    width: 100%;
    padding-left: 20px;
    font-size: 24px;
}
.nutrition-title-item {
    margin: 30px;

}

.close-btn {
    width: 100%;
}

.close {
    font-size: 30px;
    cursor: pointer;
    padding-top: 10px;
    padding-right: 10px;
    float: right;
}

.nutrition-table {
    border-collapse: collapse;
    white-space: nowrap;
    margin: 20px;
}

.nutrition-table td {
    border-bottom: 1px solid var(--dark-background-color);
    padding-left: 2px;
    padding-right: 2px;
}

.table-text {
    text-align: center;
}

.table-desc {
    max-width: 100px;
    word-wrap: normal;
    white-space: normal;
}

/* Menu items still in work */
.disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

/* Styles for the contact page */
.contact-content {
    margin-top: 30px;
    width: 100%;
}


.contact-form {
    width: 100%;
}

hr {
  width: 100%;
  background: var(--dark-background-color);
}

.form-titles {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.form-content {
    display: block;
    width: 80%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}


/*  Options to allow resizing of the message text box by
    dragging the selector in the bottom right  */
.resize {
    overflow-y: hidden;
    resize: vertical;
    white-space: nowrap;
    min-height: 100px;
    display: block;
    margin: auto;
    width: 81%;
}

.message {
    width: 98%;
    height: 100%;
    min-height: 100px;
}

.submit-button {
    display: block;
    border-radius: 5px;
    border: 0 solid;
    margin: auto;
    padding: 5px 35px 5px 35px;
    background-color: var(--dark-background-color);
    color: var(--dark-background-font-color);
}


/* Formatting changes for larger screens / computers */
@media (min-width: 550px) {
    .nav-search {
        display: block;
    }

    .card_image {
        float: left;
    }

    .recipe_image {
        float: left;
        width: auto;
        padding: 20px;
    }

    .score, .ready_time {
        padding-bottom: 0;
        padding-top: 20px;
    }

    .recipe_summary{
        padding-top: 20px;
    }


    .search {
        height: 50px;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .btn-shop {
        margin-right: 30px;
        width: 170px;
        font-size: inherit;
    }

    .btn-unit {
        width: 85px;
        font-size: inherit;
    }

    .table-desc {
        max-width: 200px;
    }
}